.spinner {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    transition: 1s;
}

.spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 30px;
}

@media (max-width: 800px) {
    .spinner-text {
        left: 30%;
    }
}

