.pokemon-item {
    margin: 0 auto;
    background-color: black;
    width: 70%;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.pokemon-item:hover {
    scale: 105%;
}

.pokemon-item__image {
    display: block;
    width: 90%;
    min-height: 60%;
    margin: 0 auto;
}

.pokemon-item__empty-image {
    width: 90%;
    display: block;
    min-height: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.pokemon-item__name {
    color: white;
    text-align: center;
}

.pokemon-item__types {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    justify-content: space-around;
}

.pokemon-item__type__empty {
    margin-top: 30px;
    color: white;
    text-align: center;
}

@media (max-width: 800px) {

    .pokemon-item {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .pokemon-item {
        display: grid;
        align-items: center;
    }

    .pokemon-item__name {
        font-size: 2vh;
    }

    .pokemon-item__image {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}
