.header-title {
    background-color: #07ab12;
    height: 8vh;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 44px;
    color: white;
    margin: 0 auto;
}

.pokemon-content {
    margin: 50px 0;
    display: flex;
}

.pokemon-content__info-side {
    width: 35%;
    position: fixed;
    text-align: center;
    right: 0;
    margin-top: 80px;
}

@media (max-width: 800px) {

    .pokemon-content__info-side {
        margin-top: 150px;
        width: 40%;
    }

    .pokemon-content__info-side p {
        width: 80%;
    }

}
